.App {
  width: 740px;
  height: 700px;
  background: rgb(231, 231, 231);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 10px;
  overflow: auto;
  padding: 10px 20px 20px;
  box-shadow: 0 0 20px -7px rgb(0 0 0 / 54%);
}



.App button {
  width: 100px;
  height: 50px;
  border: none;
  background: rgb(166, 59, 228);
  font-family: SF Pro rounded;
  color: white;
  border-radius: 10px;
  font-size: 35px;
 margin-left: 20px;
 transition: 0.3s ease-in-out;
}


.App button:hover {
  background: rgb(111, 34, 156);
  cursor: pointer;
  box-shadow: 0 0 20px -10px rgb(0 0 0 / 54%);
}
.App button:focus {
  outline: none !important
}

.App input {
  width:240px;
  height: 50px;
  border: none;
  background: rgb(255, 255, 255);
  font-family: SF Pro rounded;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 10px;
  margin-left: 30px;
}

.App .changeInp {
  width:520px;
  border: none;
  background:none !important;
  font-family: SF Pro rounded;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 0px;
}
.App .changeInpTrue {
  width:520px;
  border: none;
  background:none !important;
  font-family: SF Pro rounded;
  color: black ;
  padding-left: 10px;
  text-decoration: line-through;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 0px;
}

.App input::placeholder{
  color: rgb(0, 0, 0);
  opacity: 0.5;
}

.animationCreating{
  animation: ping 0.8s ease-in-out infinite both;
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}

.App input:focus {
  outline: none !important
}

.App h2 {
  font-size: 70px;
  text-align: start;
  margin-bottom:20px;
  margin-top: 10px;
  padding-top: 10px;
  height: 100px;
  width: 755px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: sticky;
  top: -11px;
  overflow: hidden;
  background: rgb(231, 231, 231);
  font-family: SF Pro Rounded;
  transition: 0.3s;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.185);
  z-index: 1;
}
.App span {
  color: rgb(182, 182, 182);
  font-family: SF Pro Rounded;
  animation: bounce-top 1s both;
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}



.App strong {
  color: rgb(145, 145, 145);
  font-family: SF Pro Rounded;
}
.App p {
  font-size: 20px;
  font-family: SF Pro rounded;
  transition: 0.3s;
  padding-left: 15px;
  transition: 0.3s ease-in-out;
}

.App p:hover {
transform: translate(10px);
 cursor: pointer;
  color: rgb(106, 90, 177);

}

::-webkit-scrollbar{
  width: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
